/*  CSS RESET */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lGray: #d6e2f0;
  --gBlue: #7b879d;
  --dBlue: #1f3251;
  font-size: 67, 5%;
  /*1rem = 10px*/
}

p {
  font-size: 1.5rem;
}

.font-pri {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--gBlue);
}

.font-sec {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--dBlue);
}

a:visited {
  color: var(--gBlue);
}

a:hover {
  color: rgba(156, 16, 16, 0.8);
  transition: all 0.8s;
}

/*  CSS RESET */

body {
  max-width: 1440px;
  background-color: var(--lGray);
}

img {
  border-radius: 0.4rem;
  max-width: 100%;
  height: auto;
}

.container {
  margin-top: 5rem;
  background-color: #ffff;
  padding: 1rem;
  border-radius: 0.4rem;
  max-width: 20rem;
}

main > h1 {
  font-size: 1.4rem;
  max-width: 18ch;
  margin-block: 1rem;
  text-align: center;
}

main > p {
  font-size: 1rem;
  text-align: center;
  max-width: 25ch;
}

footer {
  color: black;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
}
